
.info {
	position: relative;
	right: 0;
	left: 0;
	margin: auto;
	max-width: 400px;
	padding-top: 75px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	z-index: 50;
}

.info__art {
	display: flex;
	flex-wrap: wrap;
}

.info__list {
    padding-left: 30px;
	flex-basis: 100%;
}

.info__item {
	font-family: centGothicLigth;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 1.2;
	text-align: left;
	color: #333333;
}

.info__fig {
	order: 5;
}

.info__H1 {
	margin-top: 30px;
	margin-bottom: 0px;
	flex-basis: 100%;
	font-size: 20px;
	line-height: 1.2;
	color: #333333;
	order: 1;
}

.info__H2 {
	padding-bottom: 5px;
	flex-basis: 100%;
	font-size: 16px;
	line-height: 1.2;
	color: #333333;
}

.info__H3 {
	flex-basis: 100%;
	font-family: centGothicLigth;
	font-size: 16px;
	line-height: 1.2;
	color: #333333;
	order: 2;
}

.info__p {
	flex-basis: 100%;
	font-family: centGothicLigth;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 1.2;
	text-align: justify;
	color: #333333;
}

.info__p--mat {
	padding-bottom: 20px;
}

.info__p--Edg {
	order: 4;
	padding-top: 10px;
	padding-bottom: 20px;
}

.info__H2--rest {
	order: 7;
}

.info__H3--rest {
	order: 7;
	padding-bottom: 10px;
}

.info__H3--restFirst {
	padding-top: 20px;
}

.info__p--rest {
	order: 7;
	padding-top: 5px;
	padding-bottom: 20px;
}

.info__p--complem {
	text-align: left;
}

.info__p--list {
	text-align: left;
}

.info__b {
	font-size: 12px;
}

.info__cv {
	position: relative;
	display: flex;
	align-content: center;
	padding-top: 15px;
	height: fit-content;
	z-index: 5;
	order: 3;
}

.info__button {
	position: relative;
	display: inline-block;
	padding-bottom: 4px;
	font-family: centGothicLigth;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 4px;
	line-height: 1;
	color: #333333;
	text-decoration: none;
}

.info__button:hover{
	text-decoration: underline;
}

.info__chevron {
	display: inline;
	color: #333333;
	height: 15px;
	padding-left: 3px;
	padding-top: 2px;
}


/*********** Viewports *******************/

/*Desktop*/

@media only screen and (min-width: 1300px) {

	.info {
		position: relative;
		right: 0;
		left: 0;
		margin: auto;
		max-width: 700px;
	}

	.info__art--edg{
		display: block;
	}

	.info__fig {
		padding-top: 100px;
		height: fit-content;
		width: 250px;
		margin-left: 30px;
		float: right;
	}
}

/*Desktop an tablet Landspace*/

@media only screen and (min-width: 950px) and (max-width: 1299px) {

	.info {
		position: relative;
		right: 0;
		left: 0;
		margin: auto;
		max-width: 700px;
	}

	.info__art--edg{
		display: block;
	}

	.info__fig {
		padding-top: 100px;
		height: fit-content;
		width: 250px;
		margin-left: 30px;
		float: right;
	}
}

/*Tablets portrait*/

@media only screen and (orientation: portrait) and (min-width: 600px) and (max-width: 949px){

	.info {
		position: relative;
		right: 0;
		left: 0;
		margin: auto;
		max-width: 540px;
	}

	.info__art--edg{
		display: block;
	}

	.info__fig {
		height: fit-content;
		width: 220px;
		padding-top: 100px;
		margin-left: 30px;
		margin-bottom: 5px;
		float: right;
	}
}
