.book {
	position: relative;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	z-index: 51;
	right: 0;
	left: 0;
	margin: 0 30px;
    background-color: #ECECEC;
}

.book__container {
	flex-basis: 100%;
    margin: auto;
}

.book__img {
	background-image: url('../../../assets/images/competencia_presentacion_libro.jpg');
    height: 800px;
	background-size: cover;
	background-position: center;
}

@media only screen and (min-width: 1921px) {
    .book__img {
		background-size: 1860px;
	}
}

@media only screen and (max-width: 1399px) {
    .book__img {
		height: 600px;
	}
}

@media only screen and (max-width: 500px) {
    .book__img {
		height: 400px;
	}
}

.book__see {
	position: relative;
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding-top: 15px;
	z-index: 5;
}

.book__button {
	position: relative;
	display: inline-block;
	font-family: centGothicLigth;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 4px;
	line-height: 1;
	color: #333333;
	text-decoration: none;
}

.book__button:hover {
	text-decoration: underline;
}

.book__chevron {
	display: inline;
	color: #333333;
	height: 10px;
}

@media only screen and (min-width: 1300px) {
    .book {
		position: relative;
		margin: 0;
	}

	.book__see {
		padding-top: 10px;
	}
}

/*Desktop an tablet Landspace*/

@media only screen and (min-width: 950px) and (max-width: 1299px) {
    .book {
		margin: 0;
	}

    .book__img {
        height: 600px;
    }

	.book__see {
		padding-top: 10px;
	}
}

/*Tablets portrait*/

@media only screen and (min-width: 600px) and (max-width: 949px){
    .book {
		margin: 0;
	}

	.book__see {
		padding-top: 10px;
	}
}